.page.page-membership{
    .caption{
        font-weight: 800;
    }
    .body{
        padding: 0px 20px;
        grid-template-columns: auto;
        @media (min-width: 500px){
            grid-template-columns: auto auto;
        }
        @media (min-width: 960px){
            grid-template-columns: auto auto auto;
        }
        @media (min-width: 1200px){
            grid-template-columns: auto auto auto auto;
        }
        @media (min-width: 1440px){
            grid-template-columns: auto auto auto auto auto;
            padding: 0px 0px;
        }
        .card{
            ul{
                margin: 0px 0px 0px 0px;
                padding-left: 0px;
                margin-left: 20px;
                li{
                    list-style: disc;
                }
                padding-bottom: 50px;
            }
            button{
                position: absolute;
                bottom: 2rem;
                margin-left: calc(10%);
                width: 70%;
            }
            &.active, &:hover{
                border-width: 2px;
                border-color: var(--color-blue-dark);
            }
        }
    }
}
.page.page-checkout{
    .page-box{
        width: 100%;
        .box-wrapper{
            max-width: 1024px;
            margin:auto;
        }
    }
    .body{
        .card-caption{
            font-size: 1.4rem;
            margin-bottom: 0.5rem;
        }
        .card{
            border-width: 1px;
            border-color: rgb(231, 224, 224);
            button{
                margin-left: calc(50% - 102.5px - 1rem);
                width: 205px;
                .content{
                    font-size: 1rem;
                }
            }
            &.active, &:hover{
                border-width: 1px;
                border-color: rgb(231, 224, 224);
            }
            &.card-duration{
                border: none;
            }
            .card-item{
                border: 1px solid rgb(231, 224, 224);
                margin-bottom: 1rem;
                padding: 1rem;
                span, input{
                    margin-right: 1rem;
                }
                .badge{
                    color: #fff;
                    background-color: var(--color-blue-dark);
                    border-radius: 4px;
                    padding: 4px 8px;
                }
                .promote{
                    font-size: 0.9rem;
                    -webkit-text-decoration-line: line-through;
                    text-decoration-line: line-through;
                    color: #727586;
                }
                &.active{
                    border: 1px solid var(--color-blue-dark);
                }
            }
        }
    }
}