.page.page-profile{

    .left-menu{
        width: 400px;
        li{
            display: flex;
            a{
                padding: 22px 25px 22px 55px;
            }
        }
    }
    .content-wrapper{

    }
}