.page.page-profile{
    .left-menu{
        li{
            display: flex;
            a{
                width: 100%;
                font-weight: bold;
                padding: 22px 25px 22px 55px;
                color: var(--color-blue-dark)!important;
            }
        }
        li:hover, li.active{
            background-color: #dde9f4;
        }
    }
    .content-wrapper{
        h3{
            text-transform: capitalize;
        }
        .form-control{
            padding: 10px;
        }
        .cugate-autocomplete{
            margin-bottom: 1rem!important;
            height: 50px;
            border-radius: 40px;
            .search-icon{
                padding: 0px 10px;
            }
        }
    }
}