.search-track-component {
  width:100%;padding:56px 100px;text-align:left;background-color:#037A9A;
  .container {
    @media (min-width:768px) {
      .search-item { width: 19%; }
    }
    min-height:unset;
    .label { font-family: "Inter"; font-size: 40px; }
    .item-header {
      display:flex;
      .count-found { position: absolute; right: 7%; }
    }
    @media (max-width:1200px) {
      .item-header {
        display:inline;
        .item-title { width: 100%; }
        .count-found { width: 100%; position: relative; right: unset; }
      }
    }
    .item-title { font-size: 17px; }
    .count-found { font-size: 14px; }
    .select-search { width: 100%; }
    .selected-search {
      .title { font-size: 12px; color: #00CBD8; }
      .remove-selected { width: 12px; cursor: pointer; transition: all ease 0.3ms; }
      vertical-align:middle;
    }
    .btn-filter {
      color:#07294C;background-color:#00CBD8;border-radius:50px;
      img { width: 15px }
      cursor:pointer;transition:all ease 0.1s;
    }
    .btn-reset-filter { color: #00CBD8; cursor: pointer; transition: all ease 0.1s; }
    .btn-filter:hover { background-color: #1bc3cf; }
    .btn-reset-filter:hover { color: #1bc3cf; }
  }
}
