<div id="resultsSectionHeader">
	<span class="darkblue">Search</span>
	<span class="lightblue">Result</span>
</div>
<div class="cont-wrapper" id="mainResultsContWrapper" style="background-color:#026688">
	<div class="container" style="max-width: 1000px; margin: 0 auto">
		<div class="row">
			<div class="col-12">
				<div class="searchResults">




					<div class="result-main">

						<div class="res-wrapper">
							<a class="album-url" href="https://www.cumarket.net/album/106261">
								<img class="album-cover" src="https://img.cugate.com/?o=album&i=106261&s=300&uu=11">
                            </a>
								<div class="res-info">
									<div class="row">
										<div class="col-8">
											<div class="res-info-main">
												<div
													class="d-flex flex-column justify-content-center position-absolute">
													<div class="track-matchpercent">

														<span class="num">100</span>

														<span class="perc">%</span>
													</div>
													<div class="track-searchtype">ID3</div>
												</div>
												<div class="track-title-members">
													<div class="track-title d-inline-block">
														<a target="_blank"
															href="https://www.cumarket.net/track/1260898i106261"
															target="_blank">Hangover (feat. Flo Rida)</a>
														<a href="https://te.cugate.com/?act=track_culink&ref=tracks&ids=1260898;&tracksnum=1&album_id=106261&link_type=Extra+Link"
															target="_blank"><img src="https://te.cugate.com/img/cugate_logo_blue_24.png" style="width: 20px; margin-left: 5px;"></a>
													</div>
													<div class="track-members">

														<div class="art-link-wrapper">
															<a href="https://www.cumarket.net/artist/76273i0i106261"
																target="_blank">Taio Cruz (Performer, Primary)</a>
															<a href="https://www.merchbar.com/search?q=&quot;Taio Cruz&quot;"
																target="_blank"><img src="/statics/images/merchbar_logo.png" width="16" /></a>
														</div>

													</div>
												</div>
											</div>
										</div>
										<div class="col-4">
											<div class="track-portal-links">
												<div id="itunes_block" class="portal_block"><a
														href="https://itunes.apple.com/ru/album/id480179704?i=480179705&amp;at=1l3vri7&amp;app=itunes"
														target="_blank">
														<div class="portal_img"
															style="background-image: url('/statics/images/youtube_mon/Apple_icon.png');">
														</div>
													</a></div>
												<div id="amazon_block" class="portal_block"><a
														href="https://amazon.de/music/player/albums/B00A2WNZJY?marketplaceId=A1PA6795UKMFR9&amp;musicTerritory=DE&amp;ref=dm_sh_rYzm8lmJImGZWLsdOqQHxv7Vn&amp;trackAsin=B00A2WNZXK"
														target="_blank">
														<div class="portal_img"
															style="background-image: url('/statics/images/youtube_mon/Amazon_icon.png');">
														</div>
													</a></div>
												<div id="spotify_block" class="portal_block"><a
														href="https://open.spotify.com/track/0xQxIdksJKWa6vEUrFXOpy"
														target="_blank">
														<div class="portal_img"
															style="background-image: url('/statics/images/youtube_mon/Spotify_icon.png');">
														</div>
													</a></div>
												<div id="deezer_block" class="portal_block"><a
														href="http://www.deezer.com/track/14893478" target="_blank">
														<div class="portal_img"
															style="background-image: url('/statics/images/youtube_mon/Deezer_icon.png');">
														</div>
													</a></div>
												<div id="cuview_block" class="portal_block"><a
														href="https://cumarket.net/ytb/t-1260898-106261"
														target="_blank">
														<div class="portal_img"
															style="background-image: url('/statics/images/youtube_mon/Cugate_icon.png');">
														</div>
													</a></div>
											</div>


										</div>
										<div class="col-8">
											<div class="track_playbar" style="display:none">
												<img class="small_playbtn_img" src="/statics/images/play_button.svg" />
												<audio preload="auto" class="track_preview_audio" data-audio-id="main"
													src="https://prelistening.cugate.com/?i=1258759&l=-1">
												</audio>
												<input type="range" class="audio_bar main_bar" max="100" value="0">
                                        </div>
											</div>
											<div class="col-4">
												<div class="track-position" data-audio-id="main" style="display:none">
													00:00:00</div>
											</div>
										</div>
									</div>
								</div>

								<div id="waveformWrapper" style="display: none;">
									<div id="waveCont">
										<div id="wave_first"></div>
										<div id="wave_second"></div>
									</div>
									<div class="d-flex justify-content-between align-items-center text-white">
										<div class="w-50">
											<div class="track_playbar" style="width: 100%; display:none">
												<span>Original: </span>
												<img class="small_playbtn_img" src="/statics/images/play_button.svg" />
												<audio preload="auto" class="track_preview_audio"
													data-audio-id="wavesurfer_one"></audio>
												<input type="range" class="audio_bar main_bar" max="100" value="0">
												<div class="track-position" data-audio-id="wavesurfer_one"
													style="display:none; margin-left:1.5rem;">00:00:00</div>
											</div>
										</div>

										<div class="d-flex align-items-center">
											<span>Scale: at least</span>
											<input type="number" id="zoomInput" min="1" max="1000" value="1" />
											<span>pixels/second</span>
										</div>

									</div>

								</div>

						</div>

						<ul class="nav nav-tabs" id="monitoringTabs" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="radio-tab" data-bs-target="#tabRadioMonitoring" type="button" role="tab">
                                <span>Radio Monitoring</span>
                                <img class="tab_expand_btn" src="/statics/images/tab_expand_btn_blue.svg" />
                            </button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="youtube-tab" data-bs-target="#tabYoutubeMonitoring" type="button" role="tab">
                                <span>Youtube Monitoring</span>
                                <img class="tab_expand_btn" src="/statics/images/tab_expand_btn_white.svg" />
                            </button>
							</li>
						</ul>



					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="cont-wrapper" id="monitoringContWrapper">
		<div class="tab-content" id="monitoringTabContent">
			<div class="tab-pane fade show active" id="tabRadioMonitoring" role="tabpanel" aria-labelledby="radio-tab">
				<div id="radioMonitoringTabContent" style="background-color: white">
					<div class="container" style="max-width: 1000px; margin: 0 auto">
						<div class="row">
							<div class="col-12">



								<iframe id="curadioFrame"
									src="https://curadio.net/trackstats.action?slId=1260898&artist=Taio+Cruz&track=Hangover+%28feat.+Flo+Rida%29&disableLink=true&uu=67"
									frameborder="0" style="width:979px; height: 359px; margin-bottom: 4rem;"></iframe>




							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="tabYoutubeMonitoring" role="tabpanel" aria-labelledby="youtube-tab">
				<div id="youtubeTabContent">
					<!-- VIDEO  -->
					<div style="background-color: #bdd6e9;">
						<div class="container" style="max-width: 1000px; margin: 0 auto">
							<div class="row">
								<div class="col-12">
									<div class="video_frame">
										<div class="player-iframe-wrapper">
											<div id="wm_additional_info_container" style="display:none">
												<a class="info-entry" target="_blank">
													<img src="/statics/images/youtube_mon/WM1_icon.png" class="info-icon" />
													<div class="info-wmnum"></div>
													<div class="info-text"></div>
												</a>
											</div>
											<div id="player"></div>
											<div id="youkuPlayer" style="display: none;"></div>
										</div>
										<div class="row" style="margin: 2rem 0">
											<div class="col-12 col-md-2">
												<div class="analysis-button-wrapper static">
													<a id="analyze_button" class="analysis-loader disabled">
														<span id="analyze_button_header">Analyze video</span>
														<div class="loader1"></div>
														<div class="loader2"></div>
													</a>
													<button class="btn-cancelanalysis" style="display:none"><i class="fas fa-stop-circle"></i></button>
												</div>
											</div>
											<div class="col-12 col-md-10">
												<div class="row">
													<div class="col-12 col-md-9">
														<div id="video_title"></div>
													</div>
													<div class="col-12 col-md-3">
														<div id="analyze_time" class="text-start text-md-end"></div>
													</div>
												</div>
												<div class="row">
													<div class="col-12 col-md-9">
														<div id="video_author"><a href="#" target="_blank"></a></div>
													</div>
													<div class="col-12 col-md-3">
														<div id="video_views" class="text-start text-md-end"></div>
													</div>
												</div>
												<div class="row">
													<div class="col-12 text-end">
														<div class="action-icons">
															<img src="/statics/images/youtube_mon/cuview_share_icons/copylink.svg" class="copylink-share-icon" alt="Copy Link"/>
															<img src="/statics/images/youtube_mon/cuview_share_icons/facebook.png" class="fb-share-icon" alt="Facebook"/>
															<img src="/statics/images/youtube_mon/cuview_share_icons/twitter.png" class="twitter-share-icon" alt="Twitter"/>
															<img src="/statics/images/youtube_mon/cuview_share_icons/pinterest.png" class="pinterest-share-icon" alt="Pinterest"/>
															<img src="/statics/images/youtube_mon/cuview_share_icons/linkedin.png" class="linkedin-share-icon" alt="LinkedIn"/>
															<img src="/statics/images/youtube_mon/cuview_share_icons/whatsapp.png" class="whatsapp-share-icon" alt="WhatsApp"/>
															<img src="/statics/images/youtube_mon/cuview_share_icons/viber.png" class="viber-share-icon" alt="Viber"/>
															<img src="/statics/images/youtube_mon/cuview_share_icons/email.png" class="email-share-icon" alt="Email"/>
															<img src="/statics/images/youtube_mon/cuview_share_icons/skype.png" class="skype-share-icon" alt="Skype"/>
                                                    </div>
															<button class="btn btn-result" id="btn_cube_result" style="display:none"></button>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- YT ANALYSIS RESULTS  -->
						<div style="background-color: #8cb4d5">
							<div class="container" style="max-width: 1000px; margin: 0 auto">
								<div class="cuview-analysis-result" style="display:none">
									<div class="cont-header">
										<h3>Results</h3>
										<div class="result-type-switch">
											<span class="btn-result" id="btn_yttext_result">Text</span>
											<span class="btn-result" id="btn_wm_result">Watermark</span>
											<span class="btn-result" id="btn_fp_result">Footprint</span>
										</div>
									</div>
									<div class="result-yttext" style="display: none;">
										<!-- Error Frame -->
										<div id="error_frame_yttext" class="error-frame"></div>
										<!-- <div class="res-title">TEXT</div> -->
										<div class="res-wrapper" style="display:none">
											<a class="album-url">
												<img class="album-cover" />
                                    </a>
												<div class="res-info">
													<div class="res-info-main">
														<div class="track-title d-inline-block"></div>
														<div id="yttext_track_stats_but" class="stats_but"
															style="display:none;" title="RMS Statistics for Track">
														</div>
														<div class="track-members"></div>
													</div>
													<div class="track-portal-links">
														<div id="playbtn_block" class="portal_block"></div>
														<div id="itunes_block" class="portal_block"></div>
														<div id="amazon_block" class="portal_block"></div>
														<div id="youtube_block" class="portal_block"></div>
														<div id="spotify_block" class="portal_block"></div>
														<div id="rdio_block" class="portal_block"></div>
														<div id="deezer_block" class="portal_block"></div>
														<div id="extra_block" class="portal_block d-none"></div>
													</div>
												</div>
										</div>
									</div>
									<div class="result-wm" style="display:none">
										<!-- Error Frame -->
										<div id="error_frame_wm" class="error-frame"></div>
										<!-- <div class="res-title">WATERMARK</div> -->
										<div class="res-wrapper" style="display:none">
											<a class="album-url">
												<img class="album-cover" />
                                    </a>
												<div class="res-info">
													<div class="res-info-main">
														<div class="track-title d-inline-block"></div>
														<div id="wm_track_stats_but" class="stats_but"
															style="display:none;" title="RMS Statistics for Track">
														</div>
														<div class="track-members"></div>
													</div>
													<div class="track-portal-links">
														<div id="playbtn_block" class="portal_block"></div>
														<div id="itunes_block" class="portal_block"></div>
														<div id="amazon_block" class="portal_block"></div>
														<div id="youtube_block" class="portal_block"></div>
														<div id="spotify_block" class="portal_block"></div>
														<div id="rdio_block" class="portal_block"></div>
														<div id="deezer_block" class="portal_block"></div>
														<div id="extra_block" class="portal_block d-none"></div>
													</div>
												</div>
										</div>
									</div>
									<div class="result-fp" style="display: none;">
										<!-- Error Frame -->
										<div id="error_frame_fp" class="error-frame"></div>
										<!-- <div class="res-title">FOOTPRINT</div> -->
										<div class="res-wrapper" style="display:none">
											<a class="album-url">
												<img class="album-cover" />
                                    </a>
												<div class="res-info">
													<div class="res-info-main">
														<div class="track-title d-inline-block"></div>
														<div id="fp_track_stats_but" class="stats_but"
															style="display:none;" title="RMS Statistics for Track">
														</div>
														<div class="track-members"></div>
													</div>
													<div class="track-portal-links">
														<div id="playbtn_block" class="portal_block"></div>
														<div id="itunes_block" class="portal_block"></div>
														<div id="amazon_block" class="portal_block"></div>
														<div id="youtube_block" class="portal_block"></div>
														<div id="spotify_block" class="portal_block"></div>
														<div id="rdio_block" class="portal_block"></div>
														<div id="deezer_block" class="portal_block"></div>
														<div id="extra_block" class="portal_block d-none"></div>
													</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- YT CUGATE SERVICES  -->
						<div style="background-color:#026688;">
							<div class="container" style="max-width: 1000px; margin: 0 auto">
								<div id="wm_cugate_services_container" style="display:none">
									<div class="cont-header">
										<h3><b>Cugate</b> Services</h3>
										<div class="showall-btn" id="wm_cugate_services_showall_btn"
											data-bs-toggle="collapse" href="#wm_cugate_services_morecont">
											<span>Show all</span>
											<i class="far fa-plus-square"></i>
										</div>
									</div>
									<a class="service-entry" target="_blank">
										<img src="/statics/images/youtube_mon/WM1_icon.png" class="info-icon" />
										<div class="info-text">
											<div class="entry-title"></div>
										</div>
									</a>
									<div class="more-cont collapse" id="wm_cugate_services_morecont">

									</div>
								</div>
							</div>
						</div>
						<!-- YT FOOTPRINT SIMILARS  -->
						<div style="background-color:#10183a;">
							<div class="container" style="max-width: 1000px; margin: 0 auto">
								<div class="result-similars" style="display:none">
									<div class="result-similars-header">
										<div>
											<span><b>CuSync</b> - Recommendations you might like</span>
										</div>
										<a id="youtube_similars_frame_collapsebtn" data-bs-toggle="collapse"
											href="#youtube_similars_morecont" role="button">
											<span>Show all</span>
											<i class="far fa-plus-square"></i>
										</a>
									</div>
									<div id="youtube_similars_frame">
										<div class="sim_block">
											<div class="sim_album_cover">
												<a target="_blank">
													<div class="sim_album_cover_bkgr"></div>
												</a>
											</div>
											<div class="sim_text">
												<div class="sim_track_title"><a target="_blank"></a></div>
												<div class="sim_artist_title"><span class="sim_atrist_by">by </span><a
														target="_blank"></a></div>
												<div class="fp_moreinfo">
													<div class="sim_number"></div>
													<div class="fp_params fp_key"></div>
													<div class="fp_params fp_mood"></div>
												</div>
												<div class="sim_play_row"></div>
											</div>
										</div>
										<div id="youtube_similars_morecont" class="collapse">

										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- SEARCH BAR  -->
						<div style="background-color:#047b9b; display: none;">
							<div class="container-fluid" style="background-color:#047b9b; max-width:1000px;">
								<div class="row">
									<div class="col-12">
										<div class="search_bar">
											<form action="#" id="vid_search_form" class="text-md-nowrap">
												<div class="search-radiobutton-wrapper">
													<div class="form-check custom-radio round-radio">
														<input type="radio" id="searchTypeRadio_Normal" name="searchType" checked class="form-check-input">
														<label class="form-check-label" for="searchTypeRadio_Normal">Normal</label>
													</div>
													<div class="form-check custom-radio round-radio">
														<input type="radio" id="searchTypeRadio_Topic" name="searchType" class="form-check-input">
														<label class="form-check-label" for="searchTypeRadio_Topic">Topics</label>
													</div>
												</div>
												<div class="search-wrapper">
													<input id="video_query" type="text" placeholder="Search" class="form-control" value="Hangover (feat. Flo Rida) - Taio Cruz">
													<button type="button" class="btn-bigsearch" title="Search"><i class="fas fa-search"></i></button>
												</div>

												<!-- AutoPlay -->
												<div class="d-none"
													style="float:right; height:20px; text-align:right; margin-left:5px; margin-top:13px;">
													<span style="font-size:0.9em; padding-right: 5px; color: #92929D;">Autoplay</span>
													<input type="checkbox" id="autoplay_checkbox" checked data-size="mini" data-inverse="false">
                                        </div>
											</form>
										</div>
									</div>
									<div class="col-12">
										<div class="apikey-container d-none">
											<label for="YTApiKeyInput" id="YTApiKeyLabel">YouTube API Key</label>
											<input id="YTApiKeyInput" type="text" placeholder="If this field is empty, default key will be used" class="form-control">
											<a target="_blank" href="https://www.youtube.com/watch?v=3jZ5vnv-LZc"
												id="YTApiKeyInstructions">How to obtain?</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- YT RELATED VIDEOS  -->
						<div style="background-color:white;">
							<div class="container-fluid" style="background-color:white; max-width:1000px;">
								<div class="row">
									<div class="col-12 py-4" id="related_videos_wrapper">
										<div class="cont-header">
											<h4 id="related_vids_cont_title">Related videos</h4>
											<div class="showall-btn d-none" id="related_vids_showall_btn"
												data-bs-toggle="collapse" href="#related_vids_morecont">
												<span>Show all</span>
												<i class="far fa-plus-square"></i>
											</div>
										</div>
										<div id="search-container">
											<div id="related_vids_morecont" class="collapse">

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="cont-wrapper" id="expandedTabWrapper" style="background-color: white">
			<div class="container" style="max-width: 1000px; margin: 0 auto">
				<div class="row">
					<div class="col-12">
						<ul class="nav nav-tabs" id="monitoringTabsExpanded" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="youtube-tab-expanded" data-bs-target="#tabYoutubeMonitoringExpanded" type="button" role="tab">
                            <span>Youtube Monitoring</span>
                            <img class="tab_expand_btn" src="/statics/images/tab_expand_btn_white.svg" />
                        </button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="cont-wrapper" id="expandedTabContWrapper">
			<div class="tab-pane fade show" id="tabYoutubeMonitoringExpanded" role="tabpanel">

			</div>
		</div>



		<script src="/statics/wavesurfer.js"></script>
		<script type="text/javascript">
			root_url = 'https://www.cumarket.net/';
    
    CURR_VIDEO_ID = "JE8ntTmKvJQ";
    ORGN_VIDEO_START_POS = "0";
    
    TRACK_STATS_URL = '';
    //2019-03-19 by fu
    //@grant window.close
    FROM = '';
    CUSYNC_SETION = '';
    FP_BLOCK = '';
    CUSYNC_SESSION = '';
    YTB_ID ="";
    query_obj_name = "TRACK";
    directive_name = "";
    playlist_starting_ind = 0;
		</script>
		<script src="/statics/youtube.js?uu=91"></script>

		<script type="text/javascript">
			$("audio[data-audio-id='id3_always']").attr("src", LAST_FILE_URL);

    
    wavesurfer_one = WaveSurfer.create({
        container: document.querySelector('#wave_first'),
        interact: false,
        backend: 'MediaElement',
        forceDecode: true,
        barWidth: 2,
        barHeight: 0.8, // the height of the wave,
        barMinHeight: 1,
        progressColor: "rgba(0,0,0,0.6)",
        waveColor: "rgba(255,255,255,0.6)",
        preload: true,
        cursorWidth: 0,
        cursorColor: "#00ff00"
    });

    wavesurfer_two = WaveSurfer.create({
        container: document.querySelector('#wave_second'),
        interact: false,
        backend: 'MediaElement',
        forceDecode: true,
        barWidth: 2,
        barHeight: 0.8, // the height of the wave,
        barMinHeight: 1,
        progressColor: "#fff902",
        waveColor: "#00C8D5",
        preload: true,
        cursorWidth: 2,
        cursorColor: "#ff0000"
    });

    if(LAST_FILE_URL != null) {
        $('audio[data-audio-id="wavesurfer_one"]').attr("src", LAST_FILE_URL);
        wavesurfer_one.load($('audio[data-audio-id="wavesurfer_one"]')[0]);
    }
    else {
        $('audio[data-audio-id="wavesurfer_one"]').attr("src", $('audio[data-audio-id="main"]').attr("src"));
        wavesurfer_one.load($('audio[data-audio-id="wavesurfer_one"]')[0]);
        
    }

    wavesurfer_one_loaded = false;
    wavesurfer_two_loaded = false;

    wavesurfer_two.load($('audio[data-audio-id="main"]')[0]);
    

    $("#zoomInput").on("change", function() {
        if(this.value < 1) {
            this.value = 1;
        }
        else if (this.value > 1000) {
            this.value = 1000;
        }
        
        wavesurfer_one.zoom(Number(this.value));
        if(wavesurfer_two_loaded) {
            wavesurfer_two.zoom(Number(this.value) * (wavesurfer_one.getDuration() / wavesurfer_two.getDuration()));
        }
    });

    wavesurfer_one.on("waveform-ready", function() {
        wavesurfer_one_loaded = true;
        $("#waveformWrapper").show();
        wavesurfer_one.drawBuffer();
    });

    wavesurfer_two.on("waveform-ready", function() {
        wavesurfer_two_loaded = true;
        $("#waveformWrapper").show();
        wavesurfer_two.drawBuffer();
    });

    // $("#heightInput").on("input", function() {
    //     wavesurfer_one.setHeight(Number(this.value));
    //     wavesurfer_two.setHeight(Number(this.value));
    // });

    wavesurfer_one.on("audioprocess", function() {
        let percent = wavesurfer_one.getCurrentTime() / wavesurfer_one.getDuration();
        if(wavesurfer_two_loaded) {
            wavesurfer_two.seekTo(percent);
        }
        
    });

    wavesurfer_two.on("audioprocess", function() {
        let percent = wavesurfer_two.getCurrentTime() / wavesurfer_two.getDuration();
        if(wavesurfer_one_loaded) {
            wavesurfer_one.seekTo(percent);
        }
    });

    updatingWavesurfers = false;

    wavesurfer_one.on("scroll", function () {
        if(!updatingWavesurfers) {
            updatingWavesurfers = true;
            $("#wave_second > wave").scrollLeft($("#wave_first > wave").scrollLeft());
            updatingWavesurfers = false;
        }
        
    });
    wavesurfer_two.on("scroll", function () {
        if(!updatingWavesurfers) {
            updatingWavesurfers = true;
            $("#wave_first > wave").scrollLeft($("#wave_second > wave").scrollLeft());
            updatingWavesurfers = false;
        }
    });

		</script>


		<script>
			$("#loadingRow").hide();
    $("#ajaxContentRow").slideDown(1000, function() {
        $(this)[0].scrollIntoView({behavior: "smooth"});
    });
    
    
    $(".audio_bar").on("input change", function(evt) {
        let percentagePosition = parseInt($(this).val());
        $(this).css("background-size", `${percentagePosition}% 100%`);

        $(this).prev("audio")[0].currentTime = (Math.round(parseFloat($(this).attr("data-audio-duration")) * percentagePosition / 100));

        // if(evt.type == "change" || true) {
            
        //     // if($(this).prev("audio")[0].paused){
        //     //     $(this).prev("audio")[0].play();
        //     // }

        // }
    });
    
    $(".audio_bar").on("mousedown", function() {
        $(this).attr("data-seeking", 1);
    });
    
    $(".audio_bar").on("mouseup", function() {
        $(this).attr("data-seeking", 0);
    });
    
    $(".searchResults .small_playbtn_img, #radioMonitoringTabContent .small_playbtn_img").click(function() {
        let aud_el = $(this).next()[0];
        if(aud_el.paused) {
            aud_el.play();
        }
        else {
            aud_el.pause();
        }
    });
    
    $(".searchResults .track_playbar audio, #radioMonitoringTabContent .track_playbar audio").on('canplay', function() {
        if(isNaN(this.duration)) {
            return;
        }

        if($(this).attr("canplay-was-triggered") == "1") {
            return;
        }

        $(this).next(".audio_bar").val(0);
        $(this).next(".audio_bar").attr("data-audio-duration", this.duration);
        $(`.track-position[data-audio-id='${$(this).attr("data-audio-id")}']`).text("-" + hhmmss(this.duration));
        $(this).parent().show();
        $(`.track-position[data-audio-id='${$(this).attr("data-audio-id")}']`).show();

        $(this).attr("canplay-was-triggered", "1");
    });
    
    $(".searchResults .track_playbar audio, #radioMonitoringTabContent .track_playbar audio").on('timeupdate', function() {
        if(isNaN(this.duration) || isNaN(this.currentTime)) {
            return;
        }
        let cur_perc = Math.round(this.currentTime * 100 / this.duration);

        console.log($(this).attr("data-audio-id"), cur_perc);
        
        let aud_bar = $(this).next(".audio_bar");
        if(aud_bar.attr("data-seeking") != 1) {
            aud_bar.css("background-size", `${cur_perc}% 100%`);
            aud_bar.val(cur_perc);
        }
        
        $(`.track-position[data-audio-id='${$(this).attr("data-audio-id")}']`).text("-" + hhmmss(this.duration - this.currentTime));
    });
    
    
    $(".searchResults .track_playbar audio").on('play', function() {
        let aud_id = $(this).attr("data-audio-id");
        if(aud_id != LAST_AUDIO_ID) {
            LAST_AUDIO_ID = aud_id;
            $(".track_playbtn audio, .track_playbar audio").not(this).each(function(ind, el) {
                el.pause();
            });
        }
        if(PLAYER != null) {
            PLAYER.pauseVideo();
        }
        $(this).prev().attr("src", "/statics/images/pause_button.svg");
    }).on('pause', function() {
        $(this).prev().attr("src", "/statics/images/play_button.svg");
    }).on('ended', function() {
        $(this)[0].currentTime = 0;
        $(this).prev().attr("src", "/statics/images/play_button.svg");
    });
    
    
    $("#radioMonitoringTabContent .track_playbar audio").on('play', function() {
        let aud_id = $(this).attr("data-audio-id");
        if(aud_id != LAST_AUDIO_ID) {
            LAST_AUDIO_ID = aud_id;
            $(".track_playbtn audio, .track_playbar audio").not(this).each(function(ind, el) {
                el.pause();
            });
        }
        if(PLAYER != null) {
            PLAYER.pauseVideo();
        };
        $(this).prev().attr("src", "/statics/images/pause_button_dark.svg");
    }).on('pause', function() {
        $(this).prev().attr("src", "/statics/images/play_button_dark.svg");
    }).on('ended', function() {
        $(this)[0].currentTime = 0;
        $(this).prev().attr("src", "/statics/images/play_button_dark.svg");
    });
    
    
    //-----------------------------------------------
    
    function expandMonitoringTabs() {
        $("#radio-tab").tab("show");
        $("#youtube-tab").hide();
        $("#expandedTabWrapper").show();
        $("#expandedTabContWrapper").show();
        $("#youtubeTabContent").detach().appendTo("#tabYoutubeMonitoringExpanded");

    }
    
    function collapseMonitoringTabs(the_target) {
        if(the_target == "#radio-tab") {
            $("#radio-tab").tab("show");
        }
        else {
            $("#youtube-tab").tab("show");
        }
        $("#youtube-tab").show();
        $("#expandedTabWrapper").hide();
        $("#expandedTabContWrapper").hide();
        $("#youtubeTabContent").detach().appendTo("#tabYoutubeMonitoring");
    }
    
    $(".tab_expand_btn").click(function(evt) {
        evt.stopPropagation();

        if(ANALYZE_STATUS == 1) {
            alert("Can not expand/collapse while analysis is in progress");
            return;
        }

        if (PLAYER != null && typeof (PLAYER) != "undefined") {
            LAST_YT_PLAYER_STATE = PLAYER.getPlayerState();
            LAST_YT_VIDEO_POS = PLAYER.hasOwnProperty('getCurrentTime') ? Math.floor(PLAYER.getCurrentTime()) : -1;
        }

        if($(this).closest(".nav-link").hasClass("active")) {
            let isActive = $($(this).closest(".nav-link").attr("data-bs-target")).hasClass("active");

            // exit the function, do nothing
            if(isActive) {
                return;
            }
            
            collapseMonitoringTabs($(this).closest(".nav-link").attr("id"));
        }
        else {
            expandMonitoringTabs();
        }

        if($("#youtubeAPITag").length != 0) {
            $("#player").remove();
            $(".player-iframe-wrapper").append($.parseHTML(`<div id="player"></div>`));

            PLAYER = new YT.Player('player', {
                videoId: CURR_VIDEO_ID,
                playerVars: {'autoplay': 0},
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
            console.log("updated player object after exp/col, current id - " + CURR_VIDEO_ID);
        }
    });

    collapseMonitoringTabs("#radio-tab");

    $(".nav-tabs .nav-link[role=tab]").click(function() {
        $(this).tab("show");
    });

    $(".result-main .service-entry .link-domain").each(function(ind, el) {
        $(this).text(getDomainFromURL($(this).text()));
    });
    
		</script>


		<script type="text/javascript">
			ytb_on_doc_ready();
		</script>