.input-pin {
  &>.password-icon{
    width: 35px;
    height: 100%;
    display: flex;
    padding: 5px;
    align-items: center;
    margin-right: 10px;
    img{
      width: 100%;
    }
  }
  &>input{
    letter-spacing: 5px;
    &::placeholder {
      letter-spacing: 1px;
      font-weight: 100;
    }
  }
}