.custom-input {
  display         : flex;
  height          : 50px;
  width           : var(--cugate-input-width);
  border-radius   : var(--cugate-input-border-radius);
  position        : relative;
  background-color: var(--cugate-input-color);
  //box-shadow      : inset 0px 1px 4px rgb(0 0 0 / 50%);
  border          : 1px solid var(--cugate-input-text-color);
  margin-top      : 1.5vh;
  margin-bottom   : 3vh;
  margin-left     : auto;
  margin-right    : auto;
  padding         : 3px 20px 3px 15px;
  @media (max-width: 550px) {
    max-width     : 100%;
    height        : 11vw;
  }
  &>input, input{
    height      : 100%;
    width       : 100%;
    border-style: none;
    font-size   : 1.2rem;
    color       : var(--cugate-input-text-color);
    font-weight : 500;
    &::placeholder {
      color      : var(--theme-secondary-color);
      font-weight: 100;
    }
  }
  &>.error-code{
    position: absolute;
    top: 6vh;
    @media (max-width: 550px) {
      top: 5vh;
    }
  } 
  &>.help-text{
    position: absolute;
    color: var(--theme-secondary-color);
    top: 6vh;
    left: 0px;
    font-size: 0.9rem;
    font-weight: 300;
    @media (max-width: 550px) {
      top: 5vh;
    }
  } 
  &>.hr{
    position: absolute;
    top: 7vh;
    left: 0px;
    width: 100%;
    @media (max-width: 550px) {
      top: 6vh;
    }
  }
}
.custom-input.body-hr{
  margin-bottom: 4vh;
  &>.hr{
    display: block!important;
  }
}