.default-select{
  display         : flex;
  height          : 60px;
  width           : 100%;
  max-width       : 300px;
  border-radius   : var(--bazar-input-border-radius);
  position        : relative;
  background-color: var(--bazar-input-color);
  box-shadow      : inset 0px 1px 4px rgb(0 0 0 / 50%);
  margin-top      : 10px;
  margin-bottom   : 25px;
  margin-left     : auto;
  margin-right    : auto;
  padding         : 3px 20px 3px 15px;
  @media (max-width: 550px) {
    max-width     : 100%;
    height        : 11vw;
  }
  select{
    height      : 100%;
    width       : 100%;
    border-style: none;
    font-size   : 1.2rem;
    color       : var(--bazar-input-text-color);
    font-weight : 500;
  }
}